
.aboutContainer {
    flex-direction: column;
      align-items: center;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;  
  }
  
  .aboutWrapper {
    width: 100%;
      display: flex;
      grid-column-gap: 129px;
  }
  
  .imageWrapper {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .aboutImg {
    height: 400px;
    border-radius: 0 160px;
  }
  
  .contentRight {
    flex-direction: column;
      width: 50%;
      display: flex;
  }
  .aboutHeading {
      color: #332d28;
      letter-spacing: .5px;
      text-transform: capitalize;
      margin-top: 10px;
      font-size: 60px;
      font-family: Rufina, sans-serif;
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: 10px;
  }
  .description {
      /* letter-spacing: 1px; */
      /* font-size: 22px; */
      line-height: 1.5em;
      color: #5b5958;
      text-transform: none;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .buttonWrapper {
    grid-column-gap: 40px;
      align-items: center;
      margin-top: 50px;
      display: flex;
  }
  .heroBtn {
    border: 1px solid #ffd687;
    background-color: #ffd687;
    color: #332b28;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 35px;
    padding: 20px 40px;
    font-weight: 700;
    transition: all .3s;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }
  
  .ctaBtn {
    border: 1px solid #fc563f;
    background-color: #fc563f;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 35px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    transition: all .3s;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }
  
  
  .heroBtn svg, .ctaBtn svg {
    width: 20px;
    transition: transform .3s;
  }
  
  .heroBtn:hover svg, .ctaBtn:hover svg {
    transform: translateX(10px);
  }
  
  
  
  
  @media screen and (max-width: 900px) {
    .aboutHeading {
      font-size: 42px;
    }
    .aboutContainer {
      text-align: center;
    }
  
    .aboutWrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .imageWrapper {
      width: 65%;
      margin-bottom: 20px;
      height: auto;
    }
  
    .contentRight {
      width: 100%;
      text-align: center;
    }
  
  
    .buttonWrapper {
      display: flex;
      justify-content: center;
      margin-top: 20px; /* Adjust margin as needed */
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .buttonWrapper {
      flex-direction: column;
      row-gap: 25px;
    }
  }
  