
/*contact*/
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ebf8fb;
  }
  .contactContainer {
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  .headingTitle {
    max-width: 640px;
    text-align: center;
    margin-bottom: 50px;
    color: #332d28;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2em;
  }
  .formContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 356px;
    margin-bottom: 0;
    display: flex;
    margin: 0 0 15px;
  }
  .form {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
  }
  .orderWrapper {
    width: 80%;
    grid-column-gap: 50px;
    flex: 1;
    display: flex;
  }
  .formName,
  .formEmail,
  .formPhone {
    margin-bottom: 20px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-color: rgba(51, 45, 40, .5);
    margin-bottom: 0;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    display: block;
    font: inherit;
    margin-bottom: 20px;
  }
  
  .textarea {
    color: #333;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-color: rgba(51, 45, 40, .5);
    width: 80%;
    min-height: 200px;
    font: inherit;
    margin: 0;
    margin-bottom: 40px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.5em;
    height: auto;
  }
  
  .textarea:focus,
  .formName:focus,
  .formEmail:focus,
  .formPhone:focus {
    border-color: transparent transparent rgba(51, 45, 40, .5);
    outline: 0;
  }

  
.secondaryBtn {
  border: 1px solid #332d28;
  color: #332d28;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 35px;
  align-items: center;
  padding: 20px 40px;
  font-weight: 700;
  transition: all .2s;
  display: inline-block;
  line-height: 1.2em;
  text-decoration: none;
}

.secondaryBtn:hover {
  background-color: #332d28;
  color: #fff;
}
  
  /* Media query for screens under 500px */
  @media (max-width: 500px) {
    .orderWrapper {
      flex-direction: column; /* Stack the inputs vertically */
      width: 100%;
    }
    .textarea {
      width: 100%; /* Ensure the textarea also takes full width */
    }
    .headingTitle {
      font-size: 32px;
  }
  }
  
